.card {
  box-shadow: 0 2px 2px rgba(0,0,0,0.6);
  border-radius: 10px;
  margin: 20px 0;
}

.card-image {
  height: 180px;
  background-position: center;
  background-size: cover;
}

.card-body {
  border-bottom: 1px rgba(0,0,0,0.2) solid;
  padding: 20px;

  .flex {
    display: flex;
    align-items: center;
  }

  .flex > * {
    margin-left: 5px;
  }
}

.card-links {
  background-color: white;
  padding: 20px;
}
