.show-card {
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  border-radius: 5px;
  padding: 20px;
  margin: 10px 0;
  background-color: white;

  .flex {
    display: flex;
    align-items: center;
  }

  .flex > * {
    margin-left: 5px;
  }
}
